doctype html
head
    title=title
    link(rel='icon' type='image/x-icon' href='/favicon.ico')
    link(rel='shortcut icon' type='image/x-icon' href='/favicon.ico')
    link(rel='stylesheet' type='text/css' href='vendor/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='vendor/css/jquery.fullpage.min.css')
    link(rel='stylesheet' type='text/css' href='vendor/css/font-awesome-4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='css/main.css')
    