#section-leadership {
    padding-bottom: 50px !important;

}

#section-leadership, #section-ourstory{
    color: $main-text;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

#julia-fix img{
    border-radius: 50%;
}

#david-fix img{

    overflow:hidden;
    border-radius: 50%;
}

.imgRow {
    padding: 25px 0px;
}
