#product-header {
    color: $main-text;
    margin-top: 50px;

    .row .col-md-8 {
        margin-bottom: -60px;
    }
}

.product-img {
    -webkit-box-shadow: 4px 6px 18px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 6px 18px -5px rgba(0,0,0,0.75);
    box-shadow: 4px 6px 18px -5px rgba(0,0,0,0.75);
}

#section-collection, #section-cleanup, #section-analysis {
    color:$main-text;
}

@media(max-width:$screen-md-max) {

    .product-img {
        margin-bottom: 50px;
    }

    #product-header {
    color: $main-text;
    margin-top: 50px;

    .row .col-md-8 {
            margin-bottom: 0px;
        }
    }
}